// Configuration file for Qualimap workflow

params {
    // Input and output
    bam_file = "${launchDir}/qualimap_input.tab"
    output_dir = "${launchDir}/results"
    
    // Metadata file
    metadata_file = "${launchDir}/mdu_search.tab"
    
    // Public HTML directory
    public_html_dir = "/home/himals/public_html/MDU/REPORTS/OTHER/JM_20100521_low_coverage_invstgn"
    public_html_url = "https://bioinformatics.mdu.unimelb.edu.au/~himals/MDU/REPORTS/OTHER/JM_20100521_low_coverage_invstgn/"
    
    // Conda environments
    qualimap_conda_env = '/home/himals/conda/envs/qualimap'
    conda_env = '/home/himals/.conda/envs/bioinf_env'

    qualimap_version = "QualiMap v.2.3"
}

conda.enabled = true

process {
    executor = 'local'
    cache = 'lenient'
    
    // Set default process resource requirements
    cpus = 1
    memory = '4 GB'
    time = '1 h'
    
    maxForks = 8  // Process at most 8 samples in parallel
}

executor {
    name = 'local'
    cpus = 32  // Total CPUs to use
    memory = '64 GB'  // Total memory to use
    queueSize = 16  // Maximum number of tasks to run in parallel
}

// Enable reporting
trace {
    enabled = true
    fields = ['task_id', 'hash', 'name', 'status', 'exit', 'submit', 'start', 'complete', 'duration', 'realtime', 'cpus', 'peak_rss', 'peak_vmem']
}

report {
    enabled = true
    file = "qualimap_workflow_report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "qualimap_workflow_timeline.html"
    overwrite = true
}

dag {
    enabled = false
    file = "qualimap_workflow_dag.html"
    overwrite = true
}