params {
    reads_file = "${launchDir}/reads.tab"
    output_dir = "${launchDir}/results"
    
    // Database paths
    gtdb_db = "/tmp/gtdb_r207"
    pluspf_db = "/tmp/k2_pluspf_20230314"
    
    // Script paths
    spekki_report_script = "/home/mdu/pipelines/mdudatagen/datagen/modules/spekki/bin/spekki_report.py"
    mduify_spekki_script = "/home/mdu/pipelines/mdudatagen/datagen/modules/spekki/bin/mduify_spekki.py"
    
    // Conda environments
    kraken2_env = "/home/khhor/conda/envs/kraken2"
    spekki_env = "/home/mdu/conda/envs/spekki_dev"
    mdudatagen_env = "/home/mdu/conda/envs/mdudatagen"
    
    // Run identifier
    run_id = "TEST"
}

conda.enabled = true

process {
    executor = 'local'
    cpus = 16
    memory = '8 GB'
    cache = 'lenient'
    maxForks = 15
}

executor {
    name = 'local'
    cpus = 200
    queueSize = 200
}

trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = ['task_id', 'hash', 'name', 'status', 'exit', 'submit', 'start', 'complete', 'duration', 'realtime', 'cpus', 'peak_rss', 'peak_vmem', 'rchar', 'wchar']
    overwrite = true
}

report {
    enabled = true
    file = 'pipeline_report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = 'pipeline_timeline.html'
    overwrite = true
}

dag {
    enabled = true
    file = 'pipeline_dag.html'
    overwrite = true
}