params {
    contigs_file = "${launchDir}/contigs.tab"
    output_dir = "${launchDir}/results"
    conda_env = '/home/himals/.conda/envs/bioinf_env'
    mlst_conda_env = '/home/khhor/conda/envs/mlst'
    mlst_blastdb = '/home/mdu/resources/mlst/blast/mlst.fa'
    mlst_datadir = '/home/mdu/resources/mlst/pubmlst'
}

conda.enabled = true

process {
    executor = 'local'
    cpus = 1
    memory = '4 GB'
    cache = 'lenient'
    maxForks = 200 // Adjust based on your system's capabilities
}

executor {
    name = 'local'
    cpus = 200 // Total CPUs to use
    queueSize = 200  // maximum number of tasks to run in parallel
}

trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = ['task_id', 'hash', 'name', 'status', 'exit', 'submit', 'start', 'complete', 'duration', 'realtime', 'cpus', 'peak_rss', 'peak_vmem', 'rchar', 'wchar']
    overwrite = true
}

report {
    enabled = true
    file = 'pipeline_report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = 'pipeline_timeline.html'
    overwrite = true
}

dag {
    enabled = true
    file = 'pipeline_dag.html'
    overwrite = true
}