params {
    // Input and output
    output_dir = "${launchDir}/snippy"

    enable_conda = true
    isolate_runid = 'isolate_runid.tab'
    reads_info = 'reads.tab'
    ref = '/home/mdu/validation/NGS/REFERENCES/2014-02457/2014-02457_CHR.fna'
    params.output_dir = 'results'  // Changed to a relative path
    params.conda_env = '/home/mdu/conda/envs/bohra-snippy'
    max_cpus = Runtime.runtime.availableProcessors()
    max_memory = '128.GB'
}

process.conda = params.conda_env
conda.enabled = true

process {
    executor = 'local'
    cpus = 256
    cache = 'lenient'
    scratch = true
}

executor {
    name = 'local'
    queueSize = 32  // Adjust based on your system's capabilities
}

dag {
    overwrite = true
}