params {
    // Input file containing contig information
    contig_info_tab = 'NDM-1_abritamr_contig_info.tab'
    
    // Gene name to use in output files
    gene_name = 'NDM-1'
    
    // Output directory for results
    output_dir = 'results'
    
    // Conda environments
    bioinf_env = '/home/himals/.conda/envs/bioinf_env'
    mob_suite_env = '/home/mdu/conda/envs/bohra-mob_suite'
}

conda.enabled = true

process {
    executor = 'local'
    cpus = 1
    memory = '4 GB'
    cache = 'lenient'
    maxForks = 10 // Adjust based on your system's capabilities
}

executor {
    name = 'local'
    cpus = 10 // Total CPUs to use
    queueSize = 10  // maximum number of tasks to run in parallel
}

trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = ['task_id', 'hash', 'name', 'status', 'exit', 'submit', 'start', 'complete', 'duration', 'realtime', 'cpus', 'peak_rss', 'peak_vmem', 'rchar', 'wchar']
    overwrite = true
}

report {
    enabled = true
    file = 'pipeline_report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = 'pipeline_timeline.html'
    overwrite = true
}

dag {
    enabled = true
    file = 'pipeline_dag.html'
    overwrite = true
}